<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link trangchu active" aria-current="page" href="#">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tin Tức</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Ưu Đãi</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Ưa Thích</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Danh Mục</a>
                    <div class="nav-danhmuc nav-menu">
                        <ul>
                            <li>
                                <a routerLink="/productCategory/1" routerLinkActive="active-link">Ô tô điện</a>
                            </li>
                            <li>    
                                <a routerLink="/productCategory/2" routerLinkActive="active-link">Xe máy điện</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="intro-section">
    <h1>Trang Chủ</h1>
    <h6>Ứng dụng dự tính khoản vay</h6>
</div>

<div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
    <button class="search-icon">
         <i class="fa-brands fa-searchengin"></i>
    </button>
    
</div>